* {
    font-family: 'Courier New', Courier, monospace;
}

.center {
    display: flex;
    justify-content: center;
}

button {
    margin: 1%;
    padding: 2%;
}

p {
    display: flex;
    justify-content: center; 
}

.bold {
    font-weight: bold;
}

.inline {
    display: inline;
}